
@charset "ISO-8859-1";
#message {
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
}
.tip {
    font-size: 75%;
    font-weight: normal;
}
form {
    background: -moz-linear-gradient(center bottom , #CCCCCC, #EEEEEE 35%) repeat scroll 0 0 transparent;
    border: 1px solid #999999;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    color: #0099CC;
    font-family: Calibri,Ariel,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    margin: auto;
    padding: 8px;
    text-decoration: none;
    width: 275px;
}
legend {
    background: none repeat scroll 0 0 #0099CC;
    color: #FFFFFF;
    font-size: 125%;
    font-style: normal;
    padding-left: 1em;
    padding-right: 1em;
}
label {
    display: block;
    margin-top: 16px;
    padding-bottom: 4px;
}
input, textarea {
    border: 1px solid #999999;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    color: #002060;
    font-weight: bold;
    height: 2em;
    width: 85%;
}
.radio label, .radio input {
    display: inline;
    height: auto;
    width: auto;
}
.radio label {
    margin-right: 24px;
}
textarea {
    height: 4em;
}
#doit {
    background: none repeat scroll 0 0 #0099CC;
    border: 1px solid #999999;
    border-radius: 15px 15px 15px 15px;
    color: #FFFFFF;
    margin-left: 18%;
    margin-top: 8px;
    width: 60%;
}
#doit:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #0099CC;
}
textarea:focus, input:focus {
    border: 1px solid #0099CC;
}
.error {
    color: #FF0000;
    display: inline;
    font-size: 75%;
    font-weight: bold;
}

